[Desktop Entry]
Version=1.0
Type=Application
Name=ARIA Terminal
Comment=Open the system terminal
Exec=xfce4-terminal
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=false
